head
  title #{title}
  script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
  script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(src='/js-cookie/js.cookie.js')
  link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
